@import url(../../variables.css);

.course-category__filter-item {
    display: flex;
    align-items: center;
}

.custom-checkbox {
    -webkit-appearance: none;
    background-color: var(--bg-color);
    border: 2px solid var(--white-color);
    padding: .5rem;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.custom-checkbox:active,
.custom-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.custom-checkbox:checked {
    background-color: var(--white-color);
}

.custom-checkbox:checked:after {
    content: '\2713';
    font-size: 1rem;
    position: absolute;
    top: -3px;
    left: 3px;
    color: var(--bg-color);
}