@import url(../../../../variables.css);


.MuiInputBase-root {
    font-family: var(--primary-font) !important;
}

.panel-account__submit-btn {
    background-color: var(--primary-color-dark);
    color: var(--white-color);
    padding: .3rem 1rem;
    border: none;
    border-radius: .2rem;
    transition: all 400ms ease;
}

.panel-account__submit-btn:hover {
    background-color: var(--primary-color);
}